In [1]:
import urllib.parse

domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)

In [2]:
import requests

user_id = '8ad307f1-c2d2-4e02-8647-2fdf40228105'
name = 'avatar1'
r = requests.post(path(f'avatars/{user_id}/{name}'))
r

In [19]:
name = 'avatar2'
r = requests.post(path(f"avatars/{user_id}/{name}"))
r

In [18]:
r = requests.get(path(f"avatars/{user_id}"))
for avatar in r.json():
    print(avatar['id'], avatar['name'])

30892 avatar1
31626 avatar3
31627 avatar4
31622 avatar2
69579 avatar5

In [22]:
params = {
    "avatar_name": "avatar1",
    "language": "french",
    "city": "paris",
    "date": 1,
    "mobile": 0,
}
r1 = requests.get(path(f"pricing/{user_id}"), params=params)
r1.json()

{'prices': [{'hotel_id': 911, 'price': 153, 'stock': 4},
  {'hotel_id': 970, 'price': 329, 'stock': 1},
  {'hotel_id': 853, 'price': 188, 'stock': 1},
  {'hotel_id': 379, 'price': 431, 'stock': 1},
  {'hotel_id': 663, 'price': 155, 'stock': 3},
  {'hotel_id': 290, 'price': 191, 'stock': 0},
  {'hotel_id': 29, 'price': 319, 'stock': 1},
  {'hotel_id': 436, 'price': 247, 'stock': 15},
  {'hotel_id': 972, 'price': 100, 'stock': 3},
  {'hotel_id': 522, 'price': 196, 'stock': 0},
  {'hotel_id': 467, 'price': 255, 'stock': 43},
  {'hotel_id': 602, 'price': 115, 'stock': 0},
  {'hotel_id': 339, 'price': 253, 'stock': 1},
  {'hotel_id': 342, 'price': 120, 'stock': 0},
  {'hotel_id': 133, 'price': 158, 'stock': 0},
  {'hotel_id': 986, 'price': 322, 'stock': 1},
  {'hotel_id': 392, 'price': 190, 'stock': 0},
  {'hotel_id': 257, 'price': 188, 'stock': 0},
  {'hotel_id': 612, 'price': 227, 'stock': 1},
  {'hotel_id': 359, 'price': 141, 'stock': 0},
  {'hotel_id': 767, 'price': 188, 'stock': 0},
  {'hotel_id': 27, 'price': 355, 'stock': 2},
  {'hotel_id': 579, 'price': 85, 'stock': 0},
  {'hotel_id': 254, 'price': 165, 'stock': 0},
  {'hotel_id': 656, 'price': 150, 'stock': 0},
  {'hotel_id': 640, 'price': 193, 'stock': 0},
  {'hotel_id': 736, 'price': 225, 'stock': 0},
  {'hotel_id': 785, 'price': 284, 'stock': 1},
  {'hotel_id': 992, 'price': 83, 'stock': 0},
  {'hotel_id': 115, 'price': 107, 'stock': 17},
  {'hotel_id': 617, 'price': 449, 'stock': 1},
  {'hotel_id': 858, 'price': 300, 'stock': 1},
  {'hotel_id': 803, 'price': 364, 'stock': 1},
  {'hotel_id': 866, 'price': 457, 'stock': 1},
  {'hotel_id': 797, 'price': 145, 'stock': 0},
  {'hotel_id': 790, 'price': 455, 'stock': 1},
  {'hotel_id': 447, 'price': 136, 'stock': 0},
  {'hotel_id': 748, 'price': 319, 'stock': 1},
  {'hotel_id': 631, 'price': 83, 'stock': 0},
  {'hotel_id': 722, 'price': 193, 'stock': 0},
  {'hotel_id': 629, 'price': 87, 'stock': 0},
  {'hotel_id': 123, 'price': 155, 'stock': 0},
  {'hotel_id': 509, 'price': 89, 'stock': 0},
  {'hotel_id': 975, 'price': 166, 'stock': 3},
  {'hotel_id': 299, 'price': 115, 'stock': 0},
  {'hotel_id': 492, 'price': 117, 'stock': 0},
  {'hotel_id': 823, 'price': 314, 'stock': 1},
  {'hotel_id': 705, 'price': 143, 'stock': 0},
  {'hotel_id': 795, 'price': 166, 'stock': 0},
  {'hotel_id': 199, 'price': 229, 'stock': 0},
  {'hotel_id': 397, 'price': 427, 'stock': 1},
  {'hotel_id': 946, 'price': 324, 'stock': 1},
  {'hotel_id': 216, 'price': 241, 'stock': 3},
  {'hotel_id': 573, 'price': 425, 'stock': 1},
  {'hotel_id': 248, 'price': 314, 'stock': 1},
  {'hotel_id': 308, 'price': 297, 'stock': 1},
  {'hotel_id': 474, 'price': 183, 'stock': 0},
  {'hotel_id': 825, 'price': 188, 'stock': 2},
  {'hotel_id': 882, 'price': 222, 'stock': 0},
  {'hotel_id': 238, 'price': 159, 'stock': 0},
  {'hotel_id': 842, 'price': 443, 'stock': 1},
  {'hotel_id': 176, 'price': 86, 'stock': 0},
  {'hotel_id': 331, 'price': 98, 'stock': 1},
  {'hotel_id': 634, 'price': 87, 'stock': 0},
  {'hotel_id': 647, 'price': 143, 'stock': 0},
  {'hotel_id': 222, 'price': 340, 'stock': 2},
  {'hotel_id': 708, 'price': 188, 'stock': 1},
  {'hotel_id': 207, 'price': 165, 'stock': 0},
  {'hotel_id': 24, 'price': 411, 'stock': 1},
  {'hotel_id': 580, 'price': 141, 'stock': 4},
  {'hotel_id': 182, 'price': 162, 'stock': 0},
  {'hotel_id': 484, 'price': 138, 'stock': 1},
  {'hotel_id': 327, 'price': 227, 'stock': 0},
  {'hotel_id': 577, 'price': 188, 'stock': 0},
  {'hotel_id': 998, 'price': 225, 'stock': 0},
  {'hotel_id': 338, 'price': 196, 'stock': 12},
  {'hotel_id': 94, 'price': 250, 'stock': 38},
  {'hotel_id': 165, 'price': 161, 'stock': 0},
  {'hotel_id': 741, 'price': 190, 'stock': 1},
  {'hotel_id': 980, 'price': 114, 'stock': 0},
  {'hotel_id': 576, 'price': 227, 'stock': 0},
  {'hotel_id': 756, 'price': 247, 'stock': 1},
  {'hotel_id': 851, 'price': 89, 'stock': 0},
  {'hotel_id': 942, 'price': 314, 'stock': 1},
  {'hotel_id': 69, 'price': 252, 'stock': 42},
  {'hotel_id': 782, 'price': 370, 'stock': 2},
  {'hotel_id': 558, 'price': 102, 'stock': 0},
  {'hotel_id': 65, 'price': 161, 'stock': 0},
  {'hotel_id': 121, 'price': 83, 'stock': 0},
  {'hotel_id': 274, 'price': 191, 'stock': 0},
  {'hotel_id': 259, 'price': 138, 'stock': 0},
  {'hotel_id': 837, 'price': 419, 'stock': 1},
  {'hotel_id': 884, 'price': 223, 'stock': 0},
  {'hotel_id': 949, 'price': 395, 'stock': 1},
  {'hotel_id': 449, 'price': 222, 'stock': 1},
  {'hotel_id': 910, 'price': 88, 'stock': 0},
  {'hotel_id': 560, 'price': 186, 'stock': 2},
  {'hotel_id': 227, 'price': 85, 'stock': 0},
  {'hotel_id': 159, 'price': 316, 'stock': 1},
  {'hotel_id': 738, 'price': 143, 'stock': 0},
  {'hotel_id': 225, 'price': 191, 'stock': 0},
  {'hotel_id': 808, 'price': 441, 'stock': 1},
  {'hotel_id': 28, 'price': 199, 'stock': 0},
  {'hotel_id': 723, 'price': 86, 'stock': 0},
  {'hotel_id': 731, 'price': 188, 'stock': 0},
  {'hotel_id': 534, 'price': 400, 'stock': 1},
  {'hotel_id': 66, 'price': 186, 'stock': 0},
  {'hotel_id': 49, 'price': 161, 'stock': 0},
  {'hotel_id': 584, 'price': 462, 'stock': 1},
  {'hotel_id': 14, 'price': 156, 'stock': 0},
  {'hotel_id': 889, 'price': 191, 'stock': 0},
  {'hotel_id': 863, 'price': 457, 'stock': 1},
  {'hotel_id': 229, 'price': 222, 'stock': 1},
  {'hotel_id': 188, 'price': 85, 'stock': 7},
  {'hotel_id': 41, 'price': 136, 'stock': 1},
  {'hotel_id': 595, 'price': 188, 'stock': 0},
  {'hotel_id': 885, 'price': 191, 'stock': 1},
  {'hotel_id': 132, 'price': 449, 'stock': 1},
  {'hotel_id': 948, 'price': 241, 'stock': 1},
  {'hotel_id': 412, 'price': 266, 'stock': 63},
  {'hotel_id': 776, 'price': 159, 'stock': 0},
  {'hotel_id': 419, 'price': 136, 'stock': 1},
  {'hotel_id': 148, 'price': 114, 'stock': 0},
  {'hotel_id': 306, 'price': 227, 'stock': 1},
  {'hotel_id': 645, 'price': 161, 'stock': 0},
  {'hotel_id': 912, 'price': 165, 'stock': 0},
  {'hotel_id': 684, 'price': 85, 'stock': 0},
  {'hotel_id': 734, 'price': 141, 'stock': 0},
  {'hotel_id': 937, 'price': 281, 'stock': 1},
  {'hotel_id': 868, 'price': 287, 'stock': 1},
  {'hotel_id': 792, 'price': 85, 'stock': 2},
  {'hotel_id': 903, 'price': 89, 'stock': 0},
  {'hotel_id': 614, 'price': 88, 'stock': 0},
  {'hotel_id': 130, 'price': 316, 'stock': 1},
  {'hotel_id': 150, 'price': 227, 'stock': 10},
  {'hotel_id': 357, 'price': 188, 'stock': 0},
  {'hotel_id': 926, 'price': 188, 'stock': 8},
  {'hotel_id': 21, 'price': 86, 'stock': 0},
  {'hotel_id': 192, 'price': 119, 'stock': 0},
  {'hotel_id': 817, 'price': 302, 'stock': 1},
  {'hotel_id': 62, 'price': 86, 'stock': 0},
  {'hotel_id': 963, 'price': 136, 'stock': 0},
  {'hotel_id': 314, 'price': 117, 'stock': 0},
  {'hotel_id': 564, 'price': 92, 'stock': 0},
  {'hotel_id': 571, 'price': 457, 'stock': 0},
  {'hotel_id': 735, 'price': 194, 'stock': 0},
  {'hotel_id': 301, 'price': 133, 'stock': 1},
  {'hotel_id': 841, 'price': 87, 'stock': 0},
  {'hotel_id': 599, 'price': 103, 'stock': 12},
  {'hotel_id': 95, 'price': 455, 'stock': 1},
  {'hotel_id': 119, 'price': 316, 'stock': 1},
  {'hotel_id': 700, 'price': 178, 'stock': 55},
  {'hotel_id': 305, 'price': 193, 'stock': 1},
  {'hotel_id': 742, 'price': 418, 'stock': 1},
  {'hotel_id': 477, 'price': 84, 'stock': 0}],
 'request': {'city': 'paris',
  'date': 1,
  'language': 'french',
  'mobile': 0,
  'avatar_id': 30892}}

In [5]:
params = {
    "avatar_name": "avatar2",
    "language": "french",
    "city": "paris",
    "date": 0,
    "mobile": 1,
}
r2 = requests.get(path(f"pricing/{user_id}"), params=params)
r2.json()

{'prices': [{'hotel_id': 339, 'price': 326, 'stock': 0},
  {'hotel_id': 580, 'price': 134, 'stock': 4},
  {'hotel_id': 700, 'price': 169, 'stock': 53},
  {'hotel_id': 397, 'price': 441, 'stock': 0},
  {'hotel_id': 49, 'price': 167, 'stock': 0},
  {'hotel_id': 576, 'price': 234, 'stock': 0},
  {'hotel_id': 133, 'price': 163, 'stock': 0},
  {'hotel_id': 14, 'price': 161, 'stock': 0},
  {'hotel_id': 645, 'price': 167, 'stock': 0},
  {'hotel_id': 884, 'price': 230, 'stock': 0},
  {'hotel_id': 684, 'price': 88, 'stock': 0},
  {'hotel_id': 912, 'price': 170, 'stock': 0},
  {'hotel_id': 937, 'price': 290, 'stock': 0},
  {'hotel_id': 225, 'price': 197, 'stock': 0},
  {'hotel_id': 308, 'price': 307, 'stock': 0},
  {'hotel_id': 419, 'price': 140, 'stock': 0},
  {'hotel_id': 301, 'price': 138, 'stock': 0},
  {'hotel_id': 238, 'price': 165, 'stock': 0},
  {'hotel_id': 858, 'price': 310, 'stock': 0},
  {'hotel_id': 998, 'price': 232, 'stock': 0},
  {'hotel_id': 115, 'price': 102, 'stock': 16},
  {'hotel_id': 150, 'price': 215, 'stock': 9},
  {'hotel_id': 946, 'price': 334, 'stock': 0},
  {'hotel_id': 825, 'price': 179, 'stock': 1},
  {'hotel_id': 338, 'price': 186, 'stock': 10},
  {'hotel_id': 392, 'price': 196, 'stock': 0},
  {'hotel_id': 647, 'price': 148, 'stock': 0},
  {'hotel_id': 837, 'price': 432, 'stock': 0},
  {'hotel_id': 634, 'price': 90, 'stock': 0},
  {'hotel_id': 331, 'price': 101, 'stock': 0},
  {'hotel_id': 436, 'price': 235, 'stock': 10},
  {'hotel_id': 705, 'price': 148, 'stock': 0},
  {'hotel_id': 785, 'price': 293, 'stock': 0},
  {'hotel_id': 176, 'price': 89, 'stock': 0},
  {'hotel_id': 467, 'price': 243, 'stock': 41},
  {'hotel_id': 972, 'price': 95, 'stock': 3},
  {'hotel_id': 257, 'price': 194, 'stock': 0},
  {'hotel_id': 742, 'price': 431, 'stock': 0},
  {'hotel_id': 640, 'price': 199, 'stock': 0},
  {'hotel_id': 159, 'price': 326, 'stock': 0},
  {'hotel_id': 21, 'price': 89, 'stock': 0},
  {'hotel_id': 449, 'price': 229, 'stock': 0},
  {'hotel_id': 492, 'price': 121, 'stock': 0},
  {'hotel_id': 95, 'price': 469, 'stock': 0},
  {'hotel_id': 216, 'price': 236, 'stock': 2},
  {'hotel_id': 756, 'price': 312, 'stock': 0},
  {'hotel_id': 866, 'price': 472, 'stock': 0},
  {'hotel_id': 227, 'price': 88, 'stock': 0},
  {'hotel_id': 823, 'price': 324, 'stock': 0},
  {'hotel_id': 792, 'price': 81, 'stock': 2},
  {'hotel_id': 474, 'price': 189, 'stock': 0},
  {'hotel_id': 314, 'price': 121, 'stock': 0},
  {'hotel_id': 841, 'price': 90, 'stock': 0},
  {'hotel_id': 254, 'price': 170, 'stock': 0},
  {'hotel_id': 477, 'price': 87, 'stock': 0},
  {'hotel_id': 69, 'price': 240, 'stock': 38},
  {'hotel_id': 558, 'price': 105, 'stock': 0},
  {'hotel_id': 885, 'price': 197, 'stock': 0},
  {'hotel_id': 617, 'price': 463, 'stock': 0},
  {'hotel_id': 975, 'price': 157, 'stock': 2},
  {'hotel_id': 248, 'price': 324, 'stock': 0},
  {'hotel_id': 708, 'price': 194, 'stock': 0},
  {'hotel_id': 560, 'price': 192, 'stock': 0},
  {'hotel_id': 579, 'price': 88, 'stock': 0},
  {'hotel_id': 868, 'price': 296, 'stock': 0},
  {'hotel_id': 509, 'price': 92, 'stock': 0},
  {'hotel_id': 722, 'price': 199, 'stock': 0},
  {'hotel_id': 121, 'price': 86, 'stock': 0},
  {'hotel_id': 738, 'price': 148, 'stock': 0},
  {'hotel_id': 723, 'price': 89, 'stock': 0},
  {'hotel_id': 735, 'price': 200, 'stock': 0},
  {'hotel_id': 27, 'price': 366, 'stock': 0},
  {'hotel_id': 359, 'price': 146, 'stock': 0},
  {'hotel_id': 188, 'price': 81, 'stock': 7},
  {'hotel_id': 305, 'price': 199, 'stock': 0},
  {'hotel_id': 808, 'price': 456, 'stock': 0},
  {'hotel_id': 851, 'price': 92, 'stock': 0},
  {'hotel_id': 192, 'price': 123, 'stock': 0},
  {'hotel_id': 132, 'price': 463, 'stock': 0},
  {'hotel_id': 573, 'price': 439, 'stock': 0},
  {'hotel_id': 571, 'price': 472, 'stock': 0},
  {'hotel_id': 28, 'price': 206, 'stock': 0},
  {'hotel_id': 889, 'price': 197, 'stock': 0},
  {'hotel_id': 803, 'price': 376, 'stock': 0},
  {'hotel_id': 222, 'price': 334, 'stock': 1},
  {'hotel_id': 631, 'price': 85, 'stock': 0},
  {'hotel_id': 992, 'price': 85, 'stock': 0},
  {'hotel_id': 963, 'price': 140, 'stock': 0},
  {'hotel_id': 259, 'price': 142, 'stock': 0},
  {'hotel_id': 748, 'price': 329, 'stock': 0},
  {'hotel_id': 948, 'price': 307, 'stock': 0},
  {'hotel_id': 599, 'price': 98, 'stock': 9},
  {'hotel_id': 776, 'price': 165, 'stock': 0},
  {'hotel_id': 949, 'price': 408, 'stock': 0},
  {'hotel_id': 66, 'price': 192, 'stock': 0},
  {'hotel_id': 942, 'price': 324, 'stock': 0},
  {'hotel_id': 65, 'price': 167, 'stock': 0},
  {'hotel_id': 790, 'price': 469, 'stock': 0},
  {'hotel_id': 522, 'price': 203, 'stock': 0},
  {'hotel_id': 229, 'price': 229, 'stock': 0},
  {'hotel_id': 62, 'price': 89, 'stock': 0},
  {'hotel_id': 148, 'price': 118, 'stock': 0},
  {'hotel_id': 29, 'price': 329, 'stock': 0},
  {'hotel_id': 817, 'price': 312, 'stock': 0},
  {'hotel_id': 24, 'price': 424, 'stock': 0},
  {'hotel_id': 663, 'price': 148, 'stock': 2},
  {'hotel_id': 534, 'price': 412, 'stock': 0},
  {'hotel_id': 741, 'price': 196, 'stock': 0},
  {'hotel_id': 911, 'price': 150, 'stock': 3},
  {'hotel_id': 342, 'price': 124, 'stock': 0},
  {'hotel_id': 612, 'price': 234, 'stock': 0},
  {'hotel_id': 731, 'price': 194, 'stock': 0},
  {'hotel_id': 165, 'price': 166, 'stock': 0},
  {'hotel_id': 903, 'price': 92, 'stock': 0},
  {'hotel_id': 842, 'price': 458, 'stock': 0},
  {'hotel_id': 207, 'price': 170, 'stock': 0},
  {'hotel_id': 926, 'price': 179, 'stock': 7},
  {'hotel_id': 795, 'price': 171, 'stock': 0},
  {'hotel_id': 274, 'price': 197, 'stock': 0},
  {'hotel_id': 629, 'price': 90, 'stock': 0},
  {'hotel_id': 447, 'price': 140, 'stock': 0},
  {'hotel_id': 412, 'price': 252, 'stock': 61},
  {'hotel_id': 980, 'price': 118, 'stock': 0},
  {'hotel_id': 123, 'price': 160, 'stock': 0},
  {'hotel_id': 584, 'price': 477, 'stock': 0},
  {'hotel_id': 853, 'price': 194, 'stock': 0},
  {'hotel_id': 182, 'price': 168, 'stock': 0},
  {'hotel_id': 564, 'price': 95, 'stock': 0},
  {'hotel_id': 863, 'price': 472, 'stock': 0},
  {'hotel_id': 577, 'price': 194, 'stock': 0},
  {'hotel_id': 602, 'price': 119, 'stock': 0},
  {'hotel_id': 797, 'price': 150, 'stock': 0},
  {'hotel_id': 119, 'price': 326, 'stock': 0},
  {'hotel_id': 656, 'price': 155, 'stock': 0},
  {'hotel_id': 767, 'price': 194, 'stock': 0},
  {'hotel_id': 736, 'price': 232, 'stock': 0},
  {'hotel_id': 306, 'price': 234, 'stock': 0},
  {'hotel_id': 595, 'price': 194, 'stock': 0},
  {'hotel_id': 484, 'price': 142, 'stock': 0},
  {'hotel_id': 734, 'price': 146, 'stock': 0},
  {'hotel_id': 290, 'price': 197, 'stock': 0},
  {'hotel_id': 199, 'price': 236, 'stock': 0},
  {'hotel_id': 327, 'price': 234, 'stock': 0},
  {'hotel_id': 299, 'price': 119, 'stock': 0},
  {'hotel_id': 94, 'price': 238, 'stock': 34},
  {'hotel_id': 130, 'price': 326, 'stock': 0},
  {'hotel_id': 379, 'price': 445, 'stock': 0},
  {'hotel_id': 986, 'price': 332, 'stock': 0},
  {'hotel_id': 41, 'price': 140, 'stock': 0},
  {'hotel_id': 910, 'price': 91, 'stock': 0},
  {'hotel_id': 970, 'price': 419, 'stock': 0},
  {'hotel_id': 357, 'price': 194, 'stock': 0},
  {'hotel_id': 882, 'price': 229, 'stock': 0},
  {'hotel_id': 614, 'price': 91, 'stock': 0},
  {'hotel_id': 782, 'price': 382, 'stock': 0}],
 'request': {'city': 'paris',
  'date': 0,
  'language': 'french',
  'mobile': 1,
  'avatar_id': 31622}}

In [7]:
params = {
    "avatar_name": "avatar4",
    "language": "german",
    "city": "madrid",
    "date": 2,
    "mobile": 0,
}
r3 = requests.get(path(f"pricing/{user_id}"), params=params)
r3.json()

{'prices': [{'hotel_id': 458, 'price': 84, 'stock': 2},
  {'hotel_id': 2, 'price': 97, 'stock': 0},
  {'hotel_id': 791, 'price': 116, 'stock': 1},
  {'hotel_id': 313, 'price': 72, 'stock': 0},
  {'hotel_id': 79, 'price': 120, 'stock': 1},
  {'hotel_id': 633, 'price': 157, 'stock': 2},
  {'hotel_id': 414, 'price': 69, 'stock': 0},
  {'hotel_id': 870, 'price': 75, 'stock': 0},
  {'hotel_id': 857, 'price': 115, 'stock': 2},
  {'hotel_id': 75, 'price': 150, 'stock': 1},
  {'hotel_id': 966, 'price': 84, 'stock': 1},
  {'hotel_id': 411, 'price': 98, 'stock': 0},
  {'hotel_id': 97, 'price': 241, 'stock': 4},
  {'hotel_id': 54, 'price': 95, 'stock': 0},
  {'hotel_id': 31, 'price': 115, 'stock': 1},
  {'hotel_id': 847, 'price': 89, 'stock': 6},
  {'hotel_id': 277, 'price': 226, 'stock': 5},
  {'hotel_id': 351, 'price': 98, 'stock': 1},
  {'hotel_id': 717, 'price': 377, 'stock': 2},
  {'hotel_id': 398, 'price': 68, 'stock': 1},
  {'hotel_id': 538, 'price': 130, 'stock': 0},
  {'hotel_id': 901, 'price': 375, 'stock': 2},
  {'hotel_id': 235, 'price': 158, 'stock': 2},
  {'hotel_id': 241, 'price': 133, 'stock': 0},
  {'hotel_id': 780, 'price': 366, 'stock': 2},
  {'hotel_id': 120, 'price': 160, 'stock': 1},
  {'hotel_id': 873, 'price': 228, 'stock': 6},
  {'hotel_id': 7, 'price': 99, 'stock': 0},
  {'hotel_id': 697, 'price': 157, 'stock': 2},
  {'hotel_id': 468, 'price': 70, 'stock': 0},
  {'hotel_id': 964, 'price': 157, 'stock': 0},
  {'hotel_id': 388, 'price': 133, 'stock': 0},
  {'hotel_id': 822, 'price': 197, 'stock': 2},
  {'hotel_id': 619, 'price': 130, 'stock': 0},
  {'hotel_id': 997, 'price': 154, 'stock': 0},
  {'hotel_id': 322, 'price': 87, 'stock': 3},
  {'hotel_id': 615, 'price': 114, 'stock': 0},
  {'hotel_id': 108, 'price': 101, 'stock': 0},
  {'hotel_id': 185, 'price': 155, 'stock': 0},
  {'hotel_id': 164, 'price': 154, 'stock': 2},
  {'hotel_id': 147, 'price': 183, 'stock': 0},
  {'hotel_id': 737, 'price': 154, 'stock': 10},
  {'hotel_id': 860, 'price': 155, 'stock': 2},
  {'hotel_id': 618, 'price': 115, 'stock': 0},
  {'hotel_id': 246, 'price': 377, 'stock': 2},
  {'hotel_id': 384, 'price': 189, 'stock': 2},
  {'hotel_id': 939, 'price': 180, 'stock': 0},
  {'hotel_id': 768, 'price': 384, 'stock': 2},
  {'hotel_id': 729, 'price': 357, 'stock': 2},
  {'hotel_id': 310, 'price': 69, 'stock': 0},
  {'hotel_id': 233, 'price': 158, 'stock': 0},
  {'hotel_id': 93, 'price': 274, 'stock': 4},
  {'hotel_id': 427, 'price': 265, 'stock': 1},
  {'hotel_id': 941, 'price': 71, 'stock': 0},
  {'hotel_id': 845, 'price': 339, 'stock': 2},
  {'hotel_id': 175, 'price': 115, 'stock': 0},
  {'hotel_id': 828, 'price': 122, 'stock': 2},
  {'hotel_id': 154, 'price': 344, 'stock': 2},
  {'hotel_id': 149, 'price': 188, 'stock': 0},
  {'hotel_id': 413, 'price': 273, 'stock': 4},
  {'hotel_id': 936, 'price': 157, 'stock': 1},
  {'hotel_id': 39, 'price': 115, 'stock': 1},
  {'hotel_id': 102, 'price': 352, 'stock': 2},
  {'hotel_id': 904, 'price': 118, 'stock': 0},
  {'hotel_id': 483, 'price': 99, 'stock': 0},
  {'hotel_id': 525, 'price': 140, 'stock': 1},
  {'hotel_id': 527, 'price': 155, 'stock': 0},
  {'hotel_id': 888, 'price': 226, 'stock': 14},
  {'hotel_id': 600, 'price': 67, 'stock': 0},
  {'hotel_id': 721, 'price': 72, 'stock': 0},
  {'hotel_id': 138, 'price': 72, 'stock': 0},
  {'hotel_id': 606, 'price': 255, 'stock': 0},
  {'hotel_id': 205, 'price': 92, 'stock': 0},
  {'hotel_id': 20, 'price': 75, 'stock': 0},
  {'hotel_id': 276, 'price': 74, 'stock': 0},
  {'hotel_id': 500, 'price': 71, 'stock': 0},
  {'hotel_id': 126, 'price': 103, 'stock': 1},
  {'hotel_id': 800, 'price': 98, 'stock': 0},
  {'hotel_id': 439, 'price': 114, 'stock': 0},
  {'hotel_id': 67, 'price': 211, 'stock': 14},
  {'hotel_id': 909, 'price': 70, 'stock': 0},
  {'hotel_id': 333, 'price': 111, 'stock': 2},
  {'hotel_id': 499, 'price': 259, 'stock': 1},
  {'hotel_id': 135, 'price': 366, 'stock': 2},
  {'hotel_id': 478, 'price': 116, 'stock': 1},
  {'hotel_id': 312, 'price': 116, 'stock': 0},
  {'hotel_id': 285, 'price': 96, 'stock': 0},
  {'hotel_id': 689, 'price': 92, 'stock': 0},
  {'hotel_id': 252, 'price': 265, 'stock': 1},
  {'hotel_id': 747, 'price': 185, 'stock': 3},
  {'hotel_id': 561, 'price': 67, 'stock': 4},
  {'hotel_id': 378, 'price': 134, 'stock': 0},
  {'hotel_id': 444, 'price': 148, 'stock': 2},
  {'hotel_id': 174, 'price': 137, 'stock': 6},
  {'hotel_id': 127, 'price': 73, 'stock': 0},
  {'hotel_id': 186, 'price': 136, 'stock': 0},
  {'hotel_id': 733, 'price': 156, 'stock': 1},
  {'hotel_id': 393, 'price': 157, 'stock': 2},
  {'hotel_id': 284, 'price': 157, 'stock': 2},
  {'hotel_id': 789, 'price': 80, 'stock': 0},
  {'hotel_id': 886, 'price': 169, 'stock': 1},
  {'hotel_id': 798, 'price': 371, 'stock': 1},
  {'hotel_id': 297, 'price': 369, 'stock': 2},
  {'hotel_id': 261, 'price': 150, 'stock': 1},
  {'hotel_id': 982, 'price': 246, 'stock': 1},
  {'hotel_id': 575, 'price': 92, 'stock': 20},
  {'hotel_id': 495, 'price': 364, 'stock': 2}],
 'request': {'city': 'madrid',
  'date': 2,
  'language': 'german',
  'mobile': 0,
  'avatar_id': 31627}}

In [8]:
params = {
    "avatar_name": "avatar3",
    "language": "polish",
    "city": "madrid",
    "date": 2,
    "mobile": 0,
}
r4 = requests.get(path(f"pricing/{user_id}"), params=params)
r4.json()

{'prices': [{'hotel_id': 615, 'price': 113, 'stock': 0},
  {'hotel_id': 388, 'price': 131, 'stock': 0},
  {'hotel_id': 261, 'price': 148, 'stock': 1},
  {'hotel_id': 54, 'price': 93, 'stock': 0},
  {'hotel_id': 618, 'price': 114, 'stock': 0},
  {'hotel_id': 500, 'price': 70, 'stock': 0},
  {'hotel_id': 499, 'price': 256, 'stock': 1},
  {'hotel_id': 941, 'price': 70, 'stock': 0},
  {'hotel_id': 241, 'price': 131, 'stock': 0},
  {'hotel_id': 310, 'price': 68, 'stock': 0},
  {'hotel_id': 97, 'price': 238, 'stock': 4},
  {'hotel_id': 277, 'price': 223, 'stock': 5},
  {'hotel_id': 39, 'price': 114, 'stock': 1},
  {'hotel_id': 997, 'price': 152, 'stock': 0},
  {'hotel_id': 427, 'price': 262, 'stock': 1},
  {'hotel_id': 909, 'price': 69, 'stock': 0},
  {'hotel_id': 619, 'price': 128, 'stock': 0},
  {'hotel_id': 483, 'price': 98, 'stock': 0},
  {'hotel_id': 138, 'price': 71, 'stock': 0},
  {'hotel_id': 108, 'price': 100, 'stock': 0},
  {'hotel_id': 478, 'price': 115, 'stock': 1},
  {'hotel_id': 120, 'price': 158, 'stock': 1},
  {'hotel_id': 186, 'price': 134, 'stock': 0},
  {'hotel_id': 538, 'price': 128, 'stock': 0},
  {'hotel_id': 495, 'price': 360, 'stock': 2},
  {'hotel_id': 246, 'price': 373, 'stock': 2},
  {'hotel_id': 689, 'price': 91, 'stock': 0},
  {'hotel_id': 600, 'price': 66, 'stock': 0},
  {'hotel_id': 780, 'price': 362, 'stock': 2},
  {'hotel_id': 233, 'price': 156, 'stock': 0},
  {'hotel_id': 789, 'price': 79, 'stock': 0},
  {'hotel_id': 633, 'price': 155, 'stock': 2},
  {'hotel_id': 964, 'price': 155, 'stock': 0},
  {'hotel_id': 828, 'price': 120, 'stock': 2},
  {'hotel_id': 147, 'price': 181, 'stock': 0},
  {'hotel_id': 860, 'price': 153, 'stock': 2},
  {'hotel_id': 798, 'price': 366, 'stock': 1},
  {'hotel_id': 67, 'price': 208, 'stock': 14},
  {'hotel_id': 20, 'price': 74, 'stock': 0},
  {'hotel_id': 606, 'price': 251, 'stock': 0},
  {'hotel_id': 873, 'price': 225, 'stock': 6},
  {'hotel_id': 135, 'price': 362, 'stock': 2},
  {'hotel_id': 697, 'price': 155, 'stock': 2},
  {'hotel_id': 93, 'price': 271, 'stock': 4},
  {'hotel_id': 252, 'price': 262, 'stock': 1},
  {'hotel_id': 398, 'price': 67, 'stock': 1},
  {'hotel_id': 791, 'price': 115, 'stock': 1},
  {'hotel_id': 175, 'price': 114, 'stock': 0},
  {'hotel_id': 333, 'price': 109, 'stock': 2},
  {'hotel_id': 164, 'price': 152, 'stock': 2},
  {'hotel_id': 384, 'price': 186, 'stock': 2},
  {'hotel_id': 413, 'price': 270, 'stock': 4},
  {'hotel_id': 888, 'price': 223, 'stock': 14},
  {'hotel_id': 313, 'price': 71, 'stock': 0},
  {'hotel_id': 458, 'price': 83, 'stock': 2},
  {'hotel_id': 414, 'price': 68, 'stock': 0},
  {'hotel_id': 747, 'price': 183, 'stock': 3},
  {'hotel_id': 411, 'price': 97, 'stock': 0},
  {'hotel_id': 79, 'price': 118, 'stock': 1},
  {'hotel_id': 2, 'price': 96, 'stock': 0},
  {'hotel_id': 561, 'price': 66, 'stock': 4},
  {'hotel_id': 822, 'price': 195, 'stock': 2},
  {'hotel_id': 351, 'price': 97, 'stock': 1},
  {'hotel_id': 733, 'price': 154, 'stock': 1},
  {'hotel_id': 312, 'price': 115, 'stock': 0},
  {'hotel_id': 966, 'price': 83, 'stock': 1},
  {'hotel_id': 285, 'price': 95, 'stock': 0},
  {'hotel_id': 322, 'price': 86, 'stock': 3},
  {'hotel_id': 717, 'price': 373, 'stock': 2},
  {'hotel_id': 439, 'price': 113, 'stock': 0},
  {'hotel_id': 284, 'price': 155, 'stock': 2},
  {'hotel_id': 126, 'price': 102, 'stock': 1},
  {'hotel_id': 174, 'price': 135, 'stock': 6},
  {'hotel_id': 154, 'price': 340, 'stock': 2},
  {'hotel_id': 721, 'price': 71, 'stock': 0},
  {'hotel_id': 800, 'price': 97, 'stock': 0},
  {'hotel_id': 527, 'price': 153, 'stock': 0},
  {'hotel_id': 393, 'price': 155, 'stock': 2},
  {'hotel_id': 102, 'price': 348, 'stock': 2},
  {'hotel_id': 575, 'price': 91, 'stock': 20},
  {'hotel_id': 7, 'price': 98, 'stock': 0},
  {'hotel_id': 870, 'price': 74, 'stock': 0},
  {'hotel_id': 768, 'price': 379, 'stock': 2},
  {'hotel_id': 297, 'price': 364, 'stock': 2},
  {'hotel_id': 886, 'price': 167, 'stock': 1},
  {'hotel_id': 901, 'price': 370, 'stock': 2},
  {'hotel_id': 185, 'price': 153, 'stock': 0},
  {'hotel_id': 31, 'price': 114, 'stock': 1},
  {'hotel_id': 936, 'price': 155, 'stock': 1},
  {'hotel_id': 127, 'price': 72, 'stock': 0},
  {'hotel_id': 468, 'price': 69, 'stock': 0},
  {'hotel_id': 845, 'price': 335, 'stock': 2},
  {'hotel_id': 847, 'price': 88, 'stock': 6},
  {'hotel_id': 149, 'price': 185, 'stock': 0},
  {'hotel_id': 444, 'price': 146, 'stock': 2},
  {'hotel_id': 525, 'price': 139, 'stock': 1},
  {'hotel_id': 276, 'price': 73, 'stock': 0},
  {'hotel_id': 982, 'price': 243, 'stock': 1},
  {'hotel_id': 857, 'price': 114, 'stock': 2},
  {'hotel_id': 904, 'price': 117, 'stock': 0},
  {'hotel_id': 737, 'price': 152, 'stock': 10},
  {'hotel_id': 378, 'price': 132, 'stock': 0},
  {'hotel_id': 205, 'price': 91, 'stock': 0},
  {'hotel_id': 939, 'price': 178, 'stock': 0},
  {'hotel_id': 729, 'price': 352, 'stock': 2},
  {'hotel_id': 75, 'price': 148, 'stock': 1},
  {'hotel_id': 235, 'price': 156, 'stock': 2}],
 'request': {'city': 'madrid',
  'date': 2,
  'language': 'polish',
  'mobile': 0,
  'avatar_id': 31626}}

In [6]:
import pandas as pd

In [16]:
pricing_requests = []

a = ["irish"]
b = ["paris"]
langs = ["french", "german", "estonian", "swedish", "romanian", "portuguese", "dutch"]
cities = ["paris", "rome", "vienna", "madrid"]
for lang in langs:
    for city in cities:
        params = {
            "avatar_name": "avatar5",
            "language": lang,
            "city": city,
            "date": 40,
            "mobile": 0,
                }
        r = requests.get(path(f"pricing/{user_id}"), params=params)
        pricing_requests.append(
        pd.DataFrame(r.json()['prices']).assign(**r.json()['request']))

In [41]:
base = pd.read_csv('sample_train.csv')
def ajouter_a_la_base(base, requete):
    conc = base.append(requete)
    return(conc)

In [43]:
req1 = pricing_requests
conc = ajouter_a_la_base(base,req1)
conc.to_csv('sample_train.csv', index=False)

In [39]:
pd.read_

[     hotel_id  price  stock   city  date language  mobile  avatar_id
 0         790    258    213  paris    40   french       0      69579
 1         290    162    100  paris    40   french       0      69579
 2         963    110     85  paris    40   french       0      69579
 3         998    191    149  paris    40   french       0      69579
 4         314    111     86  paris    40   french       0      69579
 ..        ...    ...    ...    ...   ...      ...     ...        ...
 153       259    107     80  paris    40   french       0      69579
 154       327    192    150  paris    40   french       0      69579
 155       837    250    225  paris    40   french       0      69579
 156       882    179    147  paris    40   french       0      69579
 157        41    110     84  paris    40   french       0      69579

 [158 rows x 8 columns],
      hotel_id  price  stock  city  date language  mobile  avatar_id
 0         485     69     42  rome    40   french       0      69579
 1         864    128    116  rome    40   french       0      69579
 2         850    152    150  rome    40   french       0      69579
 3         621     70     44  rome    40   french       0      69579
 4         486    152    155  rome    40   french       0      69579
 ..        ...    ...    ...   ...   ...      ...     ...        ...
 118       583     67     43  rome    40   french       0      69579
 119       321    233    210  rome    40   french       0      69579
 120       213     90     85  rome    40   french       0      69579
 121       390    154    150  rome    40   french       0      69579
 122       651     94     85  rome    40   french       0      69579

 [123 rows x 8 columns],
     hotel_id  price  stock    city  date language  mobile  avatar_id
 0        173    104     87  vienna    40   french       0      69579
 1        171     67     84  vienna    40   french       0      69579
 2        635     99     92  vienna    40   french       0      69579
 3        239    247    215  vienna    40   french       0      69579
 4         11    164    160  vienna    40   french       0      69579
 ..       ...    ...    ...     ...   ...      ...     ...        ...
 93        15    250    214  vienna    40   french       0      69579
 94       672    162    153  vienna    40   french       0      69579
 95       661    100     87  vienna    40   french       0      69579
 96       839    169    156  vienna    40   french       0      69579
 97       784    100     86  vienna    40   french       0      69579

 [98 rows x 8 columns],
      hotel_id  price  stock    city  date language  mobile  avatar_id
 0         458     62     87  madrid    40   french       0      69579
 1         939    140    154  madrid    40   french       0      69579
 2         729    205    221  madrid    40   french       0      69579
 3         710     88     86  madrid    40   french       0      69579
 4          97    194    214  madrid    40   french       0      69579
 ..        ...    ...    ...     ...   ...      ...     ...        ...
 105       388    121    110  madrid    40   french       0      69579
 106       138     63     47  madrid    40   french       0      69579
 107       384    140    154  madrid    40   french       0      69579
 108       235    118    106  madrid    40   french       0      69579
 109       495    200    206  madrid    40   french       0      69579

 [110 rows x 8 columns],
      hotel_id  price  stock   city  date language  mobile  avatar_id
 0         614     87     44  paris    40   german       0      69579
 1         308    189    149  paris    40   german       0      69579
 2         257    157    104  paris    40   german       0      69579
 3         132    264    219  paris    40   german       0      69579
 4          28    117     86  paris    40   german       0      69579
 ..        ...    ...    ...    ...   ...      ...     ...        ...
 153        24    261    233  paris    40   german       0      69579
 154       972     80     41  paris    40   german       0      69579
 155       582    192    153  paris    40   german       0      69579
 156       948    189    148  paris    40   german       0      69579
 157       663    159    112  paris    40   german       0      69579

 [158 rows x 8 columns],
      hotel_id  price  stock  city  date language  mobile  avatar_id
 0         804    126    105  rome    40   german       0      69579
 1         759    157    154  rome    40   german       0      69579
 2         423    213    226  rome    40   german       0      69579
 3         399    157    152  rome    40   german       0      69579
 4         555    128    106  rome    40   german       0      69579
 ..        ...    ...    ...   ...   ...      ...     ...        ...
 118       696     92     85  rome    40   german       0      69579
 119       345    128     84  rome    40   german       0      69579
 120       897    223    209  rome    40   german       0      69579
 121       781     72     42  rome    40   german       0      69579
 122       496     63    149  rome    40   german       0      69579

 [123 rows x 8 columns],
     hotel_id  price  stock    city  date language  mobile  avatar_id
 0        713    165    150  vienna    40   german       0      69579
 1        846    161    153  vienna    40   german       0      69579
 2        833    141    104  vienna    40   german       0      69579
 3        171     66     84  vienna    40   german       0      69579
 4        626    103     88  vienna    40   german       0      69579
 ..       ...    ...    ...     ...   ...      ...     ...        ...
 93       220     70     92  vienna    40   german       0      69579
 94       438    100     42  vienna    40   german       0      69579
 95       236     74     41  vienna    40   german       0      69579
 96       462     77     43  vienna    40   german       0      69579
 97       343     76     45  vienna    40   german       0      69579

 [98 rows x 8 columns],
      hotel_id  price  stock    city  date language  mobile  avatar_id
 0         246    192    223  madrid    40   german       0      69579
 1         411     90     44  madrid    40   german       0      69579
 2         904     90     84  madrid    40   german       0      69579
 3         427    148    153  madrid    40   german       0      69579
 4         886     95     84  madrid    40   german       0      69579
 ..        ...    ...    ...     ...   ...      ...     ...        ...
 105       351     80     46  madrid    40   german       0      69579
 106       561     65     46  madrid    40   german       0      69579
 107       444     85     93  madrid    40   german       0      69579
 108       982    135    154  madrid    40   german       0      69579
 109       527    118    111  madrid    40   german       0      69579

 [110 rows x 8 columns],
      hotel_id  price  stock   city  date  language  mobile  avatar_id
 0         640    159    107  paris    40  estonian       0      69579
 1          24    256    233  paris    40  estonian       0      69579
 2         577    154    104  paris    40  estonian       0      69579
 3         229    182    153  paris    40  estonian       0      69579
 4         948    185    148  paris    40  estonian       0      69579
 ..        ...    ...    ...    ...   ...       ...     ...        ...
 153       912    157    109  paris    40  estonian       0      69579
 154       949    260    215  paris    40  estonian       0      69579
 155       723     79     44  paris    40  estonian       0      69579
 156       790    262    213  paris    40  estonian       0      69579
 157       942    181    150  paris    40  estonian       0      69579

 [158 rows x 8 columns],
      hotel_id  price  stock  city  date  language  mobile  avatar_id
 0         423    215    226  rome    40  estonian       0      69579
 1         644     69    103  rome    40  estonian       0      69579
 2         178    219    209  rome    40  estonian       0      69579
 3         330    201    211  rome    40  estonian       0      69579
 4          73    157    151  rome    40  estonian       0      69579
 ..        ...    ...    ...   ...   ...       ...     ...        ...
 118       781     73     42  rome    40  estonian       0      69579
 119       361    128    103  rome    40  estonian       0      69579
 120       677    148    154  rome    40  estonian       0      69579
 121       555    130    106  rome    40  estonian       0      69579
 122       341     93     82  rome    40  estonian       0      69579

 [123 rows x 8 columns],
     hotel_id  price  stock    city  date  language  mobile  avatar_id
 0        456    135    112  vienna    40  estonian       0      69579
 1        236     74     41  vienna    40  estonian       0      69579
 2        428    102     92  vienna    40  estonian       0      69579
 3        171     67     84  vienna    40  estonian       0      69579
 4        610     73     44  vienna    40  estonian       0      69579
 ..       ...    ...    ...     ...   ...       ...     ...        ...
 93        57    147    110  vienna    40  estonian       0      69579
 94       511    155    157  vienna    40  estonian       0      69579
 95       666     76     90  vienna    40  estonian       0      69579
 96        26    161    151  vienna    40  estonian       0      69579
 97       931    171    151  vienna    40  estonian       0      69579

 [98 rows x 8 columns],
      hotel_id  price  stock    city  date  language  mobile  avatar_id
 0         252    143    151  madrid    40  estonian       0      69579
 1         468     64     44  madrid    40  estonian       0      69579
 2           2     86    160  madrid    40  estonian       0      69579
 3         241    119    108  madrid    40  estonian       0      69579
 4         710     91     86  madrid    40  estonian       0      69579
 ..        ...    ...    ...     ...   ...       ...     ...        ...
 105       733     91     89  madrid    40  estonian       0      69579
 106       717    203    213  madrid    40  estonian       0      69579
 107       276     67     44  madrid    40  estonian       0      69579
 108       561     65     46  madrid    40  estonian       0      69579
 109       939    145    154  madrid    40  estonian       0      69579

 [110 rows x 8 columns],
      hotel_id  price  stock   city  date language  mobile  avatar_id
 0          62     87     44  paris    40  swedish       0      69579
 1         827     93     43  paris    40  swedish       0      69579
 2         274    170    113  paris    40  swedish       0      69579
 3         853    167    110  paris    40  swedish       0      69579
 4         776    177    110  paris    40  swedish       0      69579
 ..        ...    ...    ...    ...   ...      ...     ...        ...
 153       582    204    153  paris    40  swedish       0      69579
 154       397    301    218  paris    40  swedish       0      69579
 155        66    158    111  paris    40  swedish       0      69579
 156       229    197    153  paris    40  swedish       0      69579
 157       176     97     42  paris    40  swedish       0      69579

 [158 rows x 8 columns],
      hotel_id  price  stock  city  date language  mobile  avatar_id
 0         850    166    150  rome    40  swedish       0      69579
 1         144     82     46  rome    40  swedish       0      69579
 2         347     82     44  rome    40  swedish       0      69579
 3         496     69    149  rome    40  swedish       0      69579
 4         273    154    104  rome    40  swedish       0      69579
 ..        ...    ...    ...   ...   ...      ...     ...        ...
 118       929    230    221  rome    40  swedish       0      69579
 119       112     77     43  rome    40  swedish       0      69579
 120       485     76     42  rome    40  swedish       0      69579
 121       944    235    217  rome    40  swedish       0      69579
 122       486    166    155  rome    40  swedish       0      69579

 [123 rows x 8 columns],
     hotel_id  price  stock    city  date language  mobile  avatar_id
 0        652    108     90  vienna    40  swedish       0      69579
 1        753    159    112  vienna    40  swedish       0      69579
 2        661    109     87  vienna    40  swedish       0      69579
 3        979    154    110  vienna    40  swedish       0      69579
 4        263    116     90  vienna    40  swedish       0      69579
 ..       ...    ...    ...     ...   ...      ...     ...        ...
 93       613    175    151  vienna    40  swedish       0      69579
 94       239    269    215  vienna    40  swedish       0      69579
 95       666     83     90  vienna    40  swedish       0      69579
 96       833    157    104  vienna    40  swedish       0      69579
 97        35     85     44  vienna    40  swedish       0      69579

 [98 rows x 8 columns],
      hotel_id  price  stock    city  date language  mobile  avatar_id
 0         982    150    154  madrid    40  swedish       0      69579
 1         499    153    153  madrid    40  swedish       0      69579
 2         791     94     89  madrid    40  swedish       0      69579
 3         174    147    155  madrid    40  swedish       0      69579
 4         619    128     92  madrid    40  swedish       0      69579
 ..        ...    ...    ...     ...   ...      ...     ...        ...
 105       147    162    149  madrid    40  swedish       0      69579
 106       120    134    104  madrid    40  swedish       0      69579
 107       941     68     44  madrid    40  swedish       0      69579
 108       847     96     94  madrid    40  swedish       0      69579
 109       277    224    214  madrid    40  swedish       0      69579

 [110 rows x 8 columns],
      hotel_id  price  stock   city  date  language  mobile  avatar_id
 0         534    263    231  paris    40  romanian       0      69579
 1         731    161    106  paris    40  romanian       0      69579
 2         199    180    151  paris    40  romanian       0      69579
 3          27    251    215  paris    40  romanian       0      69579
 4         162    259    206  paris    40  romanian       0      69579
 ..        ...    ...    ...    ...   ...       ...     ...        ...
 153       133    151    108  paris    40  romanian       0      69579
 154        49    161    109  paris    40  romanian       0      69579
 155       853    154    110  paris    40  romanian       0      69579
 156       863    263    233  paris    40  romanian       0      69579
 157       415    122     83  paris    40  romanian       0      69579

 [158 rows x 8 columns],
      hotel_id  price  stock  city  date  language  mobile  avatar_id
 0         555    129    106  rome    40  romanian       0      69579
 1         242    155    160  rome    40  romanian       0      69579
 2         453    213    221  rome    40  romanian       0      69579
 3         929    213    221  rome    40  romanian       0      69579
 4         686     86     46  rome    40  romanian       0      69579
 ..        ...    ...    ...   ...   ...       ...     ...        ...
 118       144     76     46  rome    40  romanian       0      69579
 119       583     67     43  rome    40  romanian       0      69579
 120        38     88     44  rome    40  romanian       0      69579
 121       344     68     46  rome    40  romanian       0      69579
 122       156     67     43  rome    40  romanian       0      69579

 [123 rows x 8 columns],
     hotel_id  price  stock    city  date  language  mobile  avatar_id
 0        924    133    107  vienna    40  romanian       0      69579
 1        266     79     43  vienna    40  romanian       0      69579
 2          8    104     89  vienna    40  romanian       0      69579
 3         57    149    110  vienna    40  romanian       0      69579
 4        661    101     87  vienna    40  romanian       0      69579
 ..       ...    ...    ...     ...   ...       ...     ...        ...
 93       315    252    214  vienna    40  romanian       0      69579
 94       775     77     42  vienna    40  romanian       0      69579
 95        35     79     44  vienna    40  romanian       0      69579
 96        87    165    161  vienna    40  romanian       0      69579
 97       753    147    112  vienna    40  romanian       0      69579

 [98 rows x 8 columns],
      hotel_id  price  stock    city  date  language  mobile  avatar_id
 0         333     86     88  madrid    40  romanian       0      69579
 1         847     88     94  madrid    40  romanian       0      69579
 2         297    210    216  madrid    40  romanian       0      69579
 3         384    147    154  madrid    40  romanian       0      69579
 4         873    198    227  madrid    40  romanian       0      69579
 ..        ...    ...    ...     ...   ...       ...     ...        ...
 105       120    124    104  madrid    40  romanian       0      69579
 106       717    206    213  madrid    40  romanian       0      69579
 107       982    138    154  madrid    40  romanian       0      69579
 108        93    201    214  madrid    40  romanian       0      69579
 109       276     68     44  madrid    40  romanian       0      69579

 [110 rows x 8 columns],
      hotel_id  price  stock   city  date    language  mobile  avatar_id
 0         738    120     90  paris    40  portuguese       0      69579
 1          27    257    215  paris    40  portuguese       0      69579
 2         573    283    213  paris    40  portuguese       0      69579
 3         415    125     83  paris    40  portuguese       0      69579
 4         998    198    149  paris    40  portuguese       0      69579
 ..        ...    ...    ...    ...   ...         ...     ...        ...
 153        95    268    226  paris    40  portuguese       0      69579
 154       866    269    225  paris    40  portuguese       0      69579
 155        62     82     44  paris    40  portuguese       0      69579
 156       314    115     86  paris    40  portuguese       0      69579
 157        69    270    236  paris    40  portuguese       0      69579

 [158 rows x 8 columns],
      hotel_id  price  stock  city  date    language  mobile  avatar_id
 0         396    101     90  rome    40  portuguese       0      69579
 1         781     77     42  rome    40  portuguese       0      69579
 2         293     69     88  rome    40  portuguese       0      69579
 3         774    166    148  rome    40  portuguese       0      69579
 4         485     74     42  rome    40  portuguese       0      69579
 ..        ...    ...    ...   ...   ...         ...     ...        ...
 118       381    129     86  rome    40  portuguese       0      69579
 119       380     76     43  rome    40  portuguese       0      69579
 120       232     75     43  rome    40  portuguese       0      69579
 121       347     80     44  rome    40  portuguese       0      69579
 122       486    163    155  rome    40  portuguese       0      69579

 [123 rows x 8 columns],
     hotel_id  price  stock    city  date    language  mobile  avatar_id
 0        382    156    108  vienna    40  portuguese       0      69579
 1        610     81     44  vienna    40  portuguese       0      69579
 2        263    116     90  vienna    40  portuguese       0      69579
 3        977    117     84  vienna    40  portuguese       0      69579
 4        268    111     90  vienna    40  portuguese       0      69579
 ..       ...    ...    ...     ...   ...         ...     ...        ...
 93       226    110     87  vienna    40  portuguese       0      69579
 94        26    177    151  vienna    40  portuguese       0      69579
 95       511    170    157  vienna    40  portuguese       0      69579

In [44]:
base = pd.read_csv('sample_train.csv')
base2 = base[['hotel_id','price','stock', 'city', 'date', 'language', 'mobile', 'avatar_id']]
base2

       hotel_id  price  stock     city  date language  mobile  avatar_id
0           911    153      4    paris     1   french       0      30892
1           970    329      1    paris     1   french       0      30892
2           853    188      1    paris     1   french       0      30892
3           379    431      1    paris     1   french       0      30892
4           663    155      3    paris     1   french       0      30892
...         ...    ...    ...      ...   ...      ...     ...        ...
25658       221     58     46  vilnius    40  swedish       0      69581
25659       950     78     44  vilnius    40  swedish       0      69581
25660       136     87     84  vilnius    40  swedish       0      69581
25661       896     57     85  vilnius    40  swedish       0      69581
25662        61    183    214  vilnius    40  swedish       0      69581

[25663 rows x 8 columns]

In [45]:
new = base2.append(req1)

In [47]:
new.to_csv('sample_train.csv', index=False)

In [36]:
pricing_requests = []

requests = [r1, r2]
for r in requests:
    pricing_requests.append(
        pd.DataFrame(r.json()['prices']).assign(**r.json()['request'])
    )

pricing_requests = pd.concat(pricing_requests)
pricing_requests.head()

   hotel_id  price  stock   city  date language  mobile  avatar_id
0       911    153      4  paris     1   french       0      30892
1       970    329      1  paris     1   french       0      30892
2       853    188      1  paris     1   french       0      30892
3       379    431      1  paris     1   french       0      30892
4       663    155      3  paris     1   french       0      30892

In [25]:
len(pricing_requests)

310

In [27]:
hotels = pd.read_csv('features_hotels.csv', index_col=['hotel_id', 'city'])
pricing_requests = pricing_requests.join(hotels, on=['hotel_id', 'city'])
pricing_requests.head()

,hotel_id,price,stock,city,date,language,mobile,avatar_id,group,brand,parking,pool,children_policy
0,911,153,4,paris,1,french,0,30892,Boss Western,Boss Western,0,0,0
1,970,329,1,paris,1,french,0,30892,Chillton Worldwide,Chill Garden Inn,0,0,2
2,853,188,1,paris,1,french,0,30892,Chillton Worldwide,Tripletree,1,0,0
3,379,431,1,paris,1,french,0,30892,Morriott International,Corlton,0,0,0
4,663,155,3,paris,1,french,0,30892,Chillton Worldwide,Tripletree,0,0,0

In [28]:
pricing_requests.to_csv('sample_train.csv', index=False)

In [6]:
name = 'avatar3'
r = requests.post(path(f"avatars/{user_id}/{name}"))
r

In [4]:
name = 'avatar4'
r = requests.post(path(f"avatars/{user_id}/{name}"))
r

In [40]:
pricing_requests2 = []
requests = [r3, r4]
for r in requests:
    pricing_requests2.append(
        pd.DataFrame(r.json()['prices']).assign(**r.json()['request'])
    )

In [41]:
pricing_requests2 = pd.concat(pricing_requests2)

In [44]:
hotels = pd.read_csv('features_hotels.csv', index_col=['hotel_id', 'city'])
pricing_requests2 = pricing_requests2.join(hotels, on=['hotel_id', 'city'])